<section class="min-h-screen flex flex-col justify-center items-center text-center px-6 relative overflow-hidden pt-16">

    <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 h-96 bg-indigo-500/20 rounded-full blur-3xl -z-10">
    </div>

    <div class="space-y-6 max-w-4xl z-10">

        <h1 class="text-5xl md:text-7xl lg:text-8xl font-extrabold text-white tracking-tight leading-tight">
            Hola, soy
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-400 via-purple-400 to-cyan-400">
                Tomás Oliver
            </span>
        </h1>

        <p class="text-slate-400 text-lg md:text-2xl max-w-2xl mx-auto leading-relaxed">
            Estudiante de la Tecnicatura Universitaria en Programación (UTN).
            Transformo ideas en código con <span class="text-indigo-300 font-semibold">Angular</span> y <span
                class="text-cyan-300 font-semibold">TypeScript</span>.
        </p>

        <div class="flex flex-col sm:flex-row gap-4 justify-center mt-8">
            <button
                class="px-8 py-4 rounded-full bg-indigo-600 text-white font-bold text-lg hover:bg-indigo-500 transition-all transform hover:scale-105 shadow-lg shadow-indigo-500/25">
                Ver Proyectos
            </button>

            <button
                class="px-8 py-4 rounded-full border border-slate-700 text-slate-300 font-bold text-lg hover:bg-slate-800/50 hover:text-white transition-all">
                Descargar CV
            </button>
        </div>

        
    </div>
    
</section>


<p class="text-slate-400 text-lg md:text-2xl max-w-2xl mx-auto leading-relaxed">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus totam obcaecati reprehenderit voluptate
    fugit ullam consequatur ab possimus, veniam dolores maiores quisquam! Illum beatae voluptatem doloribus vel
    ad rerum sit neque. Minus, neque eos corrupti laudantium nisi, reiciendis eius optio minima delectus dolor
    nobis est! Sed doloribus ipsum libero, laborum ea dignissimos, non illo recusandae rerum beatae ut neque
    vitae aliquid obcaecati perspiciatis asperiores consequuntur quasi eaque saepe, minus soluta cum nesciunt ab
    omnis. Incidunt veritatis tempora consectetur dolore eos. Quas consectetur incidunt ad maxime eum labore
    dolore sed blanditiis, aut eveniet! Consequuntur, ducimus dignissimos asperiores voluptatibus commodi
    expedita quod.
</p>